body{
  background-image: url("https://i.pinimg.com/564x/22/19/ff/2219ff571edda87fdad7734b0007327e.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  color: black;
  font-size: 30px;
}
.thanks{
  text-align: justify;
}
